.link {
   font-weight: 400;
   font-size: 22px;
   line-height: 1.3;
   color: #1a71d2;
   transition: 0.3s;

   display: inline;
   background-repeat: no-repeat;
   background-position: center bottom 0px;
   background-size: 0 0;
   background-image: linear-gradient(to left, #ff543e, #ff543e);

   &:hover {
      background-size: 100% 2px;
      color: #ff543e;
   }

   /* Tablet Big */
   @media (max-width: 1139px) {
      font-size: 18px;
   }

   /* Tablet Big */
   @media (max-width: 1139px) {
      background-image: none;
   }
}
